Changing the MMWR dataset

In [12]:
#Loading MMWR 2020

import pandas as pd

In [13]:
data = pd.read_csv("MMWR_2020.csv")

In [14]:
data.dtypes

MMWR     int64
2020    object
dtype: object

In [16]:
data["2020"] = pd.to_datetime(data["2020"])

In [18]:
data.dtypes

MMWR             int64
2020    datetime64[ns]
dtype: object

In [20]:
data

    MMWR       2020
0      1 2020-01-04
1      2 2020-01-11
2      3 2020-01-18
3      4 2020-01-25
4      5 2020-02-01
5      6 2020-02-08
6      7 2020-02-15
7      8 2020-02-22
8      9 2020-02-29
9     10 2020-03-07
10    11 2020-03-14
11    12 2020-03-21
12    13 2020-03-28
13    14 2020-04-04
14    15 2020-04-11
15    16 2020-04-18
16    17 2020-04-25
17    18 2020-05-02
18    19 2020-05-09
19    20 2020-05-16
20    21 2020-05-23
21    22 2020-05-30
22    23 2020-06-06
23    24 2020-06-13
24    25 2020-06-20
25    26 2020-06-27
26    27 2020-07-04
27    28 2020-07-11
28    29 2020-07-18
29    30 2020-07-25
30    31 2020-08-01
31    32 2020-08-08
32    33 2020-08-15
33    34 2020-08-22
34    35 2020-08-29
35    36 2020-09-05
36    37 2020-09-12
37    38 2020-09-19
38    39 2020-09-26
39    40 2020-10-03
40    41 2020-10-10
41    42 2020-10-17
42    43 2020-10-24
43    44 2020-10-31
44    45 2020-11-07
45    46 2020-11-14
46    47 2020-11-21
47    48 2020-11-28
48    49 2020-12-05
49    50 2020-12-12
50    51 2020-12-19
51    52 2020-12-26
52    53 2021-01-02

In [21]:
data["MMWR"] = data["MMWR"] + 1

In [23]:
import datetime as dt

In [24]:
data['2020'] = data["2020"] + dt.timedelta(days=1)

In [26]:
data.to_csv("MMWR_2020.csv") #Processed MMWR_2020

##### Changing Date for 2021 - MMWR

In [29]:
data2 = pd.read_csv("MMWR_2021.csv")

In [31]:
data2.dtypes

MMWR     int64
2021    object
dtype: object

In [33]:
data2["2021"] = pd.to_datetime(data2["2021"])

In [34]:
data2.dtypes

MMWR             int64
2021    datetime64[ns]
dtype: object

In [35]:
data2["MMWR"] = data2["MMWR"] + 1


data2['2021'] = data2["2021"] + dt.timedelta(days=1)

In [37]:
data2.to_csv("MMWR_2021.csv")

In [38]:
df = pd.read_csv("MMWR_2021.csv")